<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="小小商店"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmallShop">
        <activity
            android:name="com.example.shop.About"
            android:exported="false" />
        <activity
            android:name="com.example.shop.MyInfo"
            android:exported="false" />
        <activity
            android:name="com.example.shop.MyRecord"
            android:exported="false" />
        <activity
            android:name="com.example.shop.Detail"
            android:exported="false" />
        <activity
            android:name="com.example.shop.Register"
            android:exported="false" />
        <activity
            android:name="com.example.shop.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.shop.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>